:root {
    --color-accent-normal: #BE3455;
    --color-accent-dark: #770b24;
    --color-accent-shadow: #4d0314;
    --color-primary-dark: #0d1a26
}

*{
    font-family: 'Metrophobic', sans-serif;
}

header{
    background-image: url("/assets/title-bg.png");
    height: 150px;
}

body {
    font-size: .75rem;
    background-color: var(--color-primary-dark);
}

/*
//////////////////////////////////////////////////
Utility Classes
//////////////////////////////////////////////////
 */
.bg-accent-normal {
    background-color: var(--color-accent-normal);
}

.color-accent-normal {
    color: var(--color-accent-normal);
}

.bg-accent-dark {
    background-color: var(--color-accent-dark);
}

.color-accent-dark {
    color: var(--color-accent-dark);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.color-primary-dark {
    color: var(--color-primary-dark);
}

/*
//////////////////////////////////////////////////
Classes
//////////////////////////////////////////////////
 */
/*  Cards */
.card{
    width: 200px;
    height: 300px;
    filter: drop-shadow(0 10px 5px var(--color-accent-shadow));
    transition: all 200ms ease-in;
}

.card:hover{
    outline: var(--color-accent-normal) 3px solid;
    scale: 103%;
}

.searchedCards{
    width: 250px;
    height: 200px;
}

.movieTitle {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: bold;
}

/* Badges */
.avg-badge {
    background-color: var(--color-primary-dark);
    position: absolute;
    font-size: 1rem;
    top: 85%;
    right: 75%;
}

.usr-badge {
    background-color: var(--color-accent-normal);
    position: absolute;
    font-size: 1rem;
    top: 85%;
    left: 75%;
}

.search-badge {
    background-color: var(--color-accent-normal);
    position: absolute;
    font-size: 1rem;
    top: 70%;
    right: 2%;
}

/* Buttons */
.btn-edit {
    background-color: var(--color-accent-normal);
    position: absolute;
    top: 2%;
    right: 2%;
}

.btn-edit:hover {
    background-color: var(--color-accent-dark);
}

.input-group-text{
    text-align: left;
    width: 80%;
    border-radius: 5px 0 0 5px;
}

.searchBtn {
    color: white;
    float: left;
    width: 20%;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

#addMovieName:focus,
#select-genre:focus,
#select-sort:focus{
    outline-color:var(--color-accent-normal);
}

/*  Hidden */
.notSelectable{
    user-select: none;
    user-focus: none;
}
.yourRating{
    display: none;
}
.hidden {
    display: none;
}

